// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark0: #424549;
$dark1: #36393e;
$dark2: #282b30;
$dark3: #1e2124;
$blurple: #7289da;

// Sizes
$navbar: 48px;
