// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// normalize.css
@import 'normalize';
* {
    outline: none;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

//====================================================================================================================//

// Navbar
@import 'navbar';

// Loader
@import 'loader';

body {
    color: #eee;
    text-align: left;
    background-color: $dark0;
    min-height: 200vh;
}

main {
    padding-top: 3rem;
}
