//= Base =============================================================================================================//

// Variables
@import 'variables';

// normalize.css
@import 'normalize';
* {
    outline: none;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

//= Fonts & Icons ====================================================================================================//

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Icons
@import '~bootstrap-icons/font/bootstrap-icons';

//= Layout ===========================================================================================================//

// Navbar
@import 'navbar';

// Loader
@import 'loader';

body {
    color: #eee;
    text-align: left;
    background-color: $dark0;
    min-height: 100vh;
}

main {
    padding-top: 3rem;
    position: relative;
}

//= Pages ============================================================================================================//

// Welcome
@import 'welcome';

// Law
@import 'law';

// Levels
@import 'levels';

// Election
@import 'election';
