.law {

    &-text {
        margin-top: 2rem;

        font-size: 18px;
        text-align: center;

		a {
			color: $blurple;

			&:hover {
				color: #eee;
			}
		}
    }

    &-nav {
        position: sticky;
        z-index: 5;
        top: $navbar;

        display: flex;
        align-items: center;
        height: 3rem;

        background: $dark0;

        &-back {
            display: block;

            padding: 0 0.5rem;
            border-radius: 0.5rem;

            transition: 0.2ms;

            color: $blurple;
            font-size: 18px;

            &:hover {
                text-decoration: none;
                background: $blurple;
                color: #eee;
            }
        }
    }

    &-article {

        margin-bottom: 4rem;

        &-head {
            position: sticky;
            z-index: 5;
            top: calc(#{$navbar} + 3rem);

            background: $dark0;

            div {
                min-height: 8px;
                background: $dark1;
                border-right: 1px solid $dark2;
                border-left: 1px solid $dark2;
                border-top: 1px solid $dark2;

                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }
        }

        &-text {
            background: $dark1;
            border-right: 1px solid $dark2;
            border-left: 1px solid $dark2;
            overflow: hidden;

            &-paragraph {
                margin: 0 3% 0.5rem;

                font-size: 18px;
                white-space: pre-line;

                small {
                    display: block;
                    opacity: 0.2;

                    font-size: 60%;
                    line-height: 1;
                }
            }
        }

        &-footer {
            min-height: 8px;
            background: $dark1;
            border-bottom: 1px solid $dark2;
            border-right: 1px solid $dark2;
            border-left: 1px solid $dark2;

            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        a {
            padding: 1px 8px 1px 4px;

            cursor: pointer;
            user-select: none;

            transition: 0.2s;
            border-radius: 20px;
            background: #5865f26e;
            border: 1px solid #0006;

            text-decoration: none;
            white-space: nowrap;
            font-size: 90%;
            outline: none;
            color: #fffd;

            i {
                position: relative;
                top: 1px;
            }

            &:hover {
                background: #5865f2;
                color: #fff;
            }
        }

    }

}

@import "law/raw";

@import "law/index";
@import "law/general";
@import "law/social";
@import "law/orders";
@import "law/management";
@import "law/bots";
@import "law/roles";
@import "law/old";
