.levels {

	@import "levels/text";
	@import "levels/roles";
	@import "levels/members";

	&-center {
		text-align: center;
	}

	&-line {
		border-bottom: 1px solid #0003;
		position: relative;
		margin: 30px 60px;
	}

	&-clear {
		background: #2f3136;
		position: sticky;
		margin: 0 -2px;
		height: 20px;
		z-index: 2;
		top: 40px;
	}

}
