.levels {

	@import "levels/text";
	@import "levels/roles";
	@import "levels/members";
	@import "levels/separator";

	&-center {
		text-align: center;
	}

	&-line {
		border-bottom: 1px solid #0003;
		position: relative;
		margin: 30px 60px;
	}

	&-clear {
		background: $dark0;
		position: sticky;
		margin: 0 -2px;
		height: 2rem;
		z-index: 2;
		top: $navbar;
	}

}
