.law-bots {

    .law-article-text {

        &-2 {
            margin: 2rem 3% 0.5rem;
        }

        &-3 {
            margin: 2rem 5% 0.5rem;
        }

        &-4 {
            margin: 0 7% 0.5rem;
        }

    }

}
