::-webkit-scrollbar-button {
  width: 2px;
  height: 0px;
  right: 0px;
}

::-webkit-scrollbar-track {
  background-color:#2f3136
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color:#70aacf;
}

::-webkit-scrollbar{
  width: 2px;
}
